body {
    background-color:#7493CE; 
    margin: 0;
    font-family: sans-serif;  
}
.container {
    max-width: 530px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:#F4F4F2;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.item-text{
    color: #4A5568;
}

.item-text.done {
    text-decoration: line-through;
    color: #888;
}

button {
    padding: 2px 6px;
    cursor: pointer;
}
.title {
    text-align: center;
    font-size: 40px;
    color:cornflowerblue
}

.update-btn{
    
    margin: 7px;
}

.delete-btn{
    margin: 2px;
}

.todo-input{
    text-align: left;
    padding: 10px;
    margin: 5px;
}

.date-input{
    text-align: left;
    padding: 10px;
    margin: 5px;
}

.add-btn{
    height: 40px;
    width: 50px;
}

.sub-title {
    margin: 20px;
    color:cornflowerblue;
    font-size: 25px;
    text-align: left;
}

.user-name{
    font-size: small;
    color:gray;
}

.user{
    font-size: small;
    color:gray;
}

.reset-btn{
    height: 40px;
    width: 60px;
}
